h1{
    text-indent: 0em;
    text-align: center;
    color:red;
}
p{
    text-indent: 2.5em;
    text-align: center;
    color: navy;
}
img{
    width: 350px; 
    margin-right: auto;
    margin-left: auto;
    float:left;
}
